.Pricing-Banner {
  height: 450px;

  background-image: url("/public/Images/Pricing/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Pricing-Banner > h1 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 5px;
  color: white;
}

.Pricing-Banner > p {
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
  color: white;
}
