.discuss-section {
  background-color: #fcdbd3;
  padding: 60px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.discuss-section > button {
  padding: 10px 60px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  background-color: #ef4c23;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.discuss-section > button:hover {
  padding: 10px 60px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  color: #ef4c23;
  background-color: white;
}
