.why{
    background-color: #fcdbd3;
    height: 580px;
    width: 100%;
   
}
.why>h1{
    padding: 20px;
    text-align: center;
}
.chose{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform .2s;
    margin-top: -2%;
    width: 90%;
    margin: auto;
}
.chose>div{
    width:20%;
    background-color: white;
    height: 150px;
    margin: 25px 40px;
    padding: 20px 10px;
    border-radius: 10px;
}
.chose>div>h1{
    font-size:22px ;
}
.chose>div:hover{
    transform: scale(1.1);
}