.szeducationcon{
    width:100%;
    padding-top:7%;
}
.szsubeducation{
    width:90%;
    height: 500px;
     padding: 20px;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
}
.szeducatleft{
    width: 50%;
    height:200;
    /* background-color: red; */
    padding: 10% 5%  ;
}
.szeducatright{
    width: 55%;
    height:460px;
    /* background-color: blue; */
    position: relative;
     padding: 15px 30px;
}
.szedubtn{
    padding:10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: #ef4c23;
    color:white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.szedubtn:hover{
    background-color: white;
    color:#ef4c23;
}
.circle{
    height:440px;
    width: 64%;
    position: absolute;
    margin-left: 25%;
    z-index: 0;
}
.circle>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.laptopimg{
    width:77%;
    height:350px;
    padding: 65px 75px;
    margin-left: 9%;
    margin-top: 3%;
    position: absolute;
    z-index: 2;
}
.laptopimg>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.laptop{
position: absolute;
width: 75%;
height:310px;
margin-top: 7%;
margin-left: 10%;
/* margin: 10px; */
padding: 20px 10px;
z-index: 1;
}
.laptop>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lapimobile{
    position: absolute;
    z-index: 4;
    width:40%;
    margin:12% 62%;
    padding: 37px 80px;
    height: 313px;
}
.lapimobile>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mobilecase{
    position: absolute;
    z-index: 3;
    width:30%;
    height: 340px;
    margin-left: 67%;
    margin-top: 10%;
    /* margin: 40px 100px; */
    padding: 45px 40px;
}
.mobilecase>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.oval{
    position: absolute;
    z-index: 4;
    /* margin: 17%; */
    margin-left: 80%;
    margin-top: 19%;
    height: 10px;
    
}
.oval>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}