.szfeaturesection {
  width: 100%;
  text-align: center;
  height: 420px;
}
.featuremedia {
  width: 90%;
  margin: auto;
  display: flex;
  /* background-color: aqua; */
  height: 260px;
}

.featurdocs {
  width: 30%;
  /* background-color: blue; */
  margin: 10px;
  height: 200px;
  border-radius: 18px;
  margin-top: 10px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.featurdocs:hover {
  margin-top: 0;
  transition: all .3s linear;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.featurdocs > p {
  padding: 15px;
}
.docimg {
  /* background-color: blue; */
  width: 55px;
  height: 55px;
  margin: auto;
}
.docimg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.szrquest {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.szrquest:hover {
  color: #ef4c23;
  background-color: white;
}
