
.szfeaturesection{
    width: 100%;
   text-align: center;  
    
}
.featuremedia{
    width:90%;
    margin: auto;
    display: flex;
    /* background-color: aqua; */
    height: 260px;
}

.featurdocs{
    width: 30%;
    /* background-color: blue; */
    margin:10px;
    height: 200px;
    border-radius: 18px;
   
    padding: 30px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.featurdocs>p{
  padding: 15px;
}
.docimg{
    /* background-color: blue; */
    width: 55px;
    height: 55px;
     margin:auto;
      
}
.docimg>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
     
}
.szrquest{
    
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: -10%;
    background-color: #ef4c23;
    color: white;
    border: 1px solid white;
    margin-bottom: 20px;
}
