.UXDesignWhyBF-container {
  margin: 2% auto;
  text-align: center;
}

.UXDesignWhyBF-container > h1 {
  font-size: 32px;
}

.UXDesignWhyBF-container > h1 > span,
.UXDesignWhyBF-main > ul > li > span {
  color: #ef4c23;
}

.UXDesignWhyBF-container > p {
  width: 80%;
  margin: 2% auto;
}

.UXDesignWhyBF-container > div {
  position: relative;
}

.UXDesignWhyBF-container > div > hr {
  width: 100%;
  height: 50px;
  background: #ffe3dc;
  border: none;
  position: absolute;
  top: 48%;
  left: 0;
  right: 0;
  transform: translateY(-48%);
}

.UXDesignWhyBF-main {
  width: 75%;
  margin: 2% auto;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UXDesignWhyBF-main > ul {
  width: 70%;
  height: 400px;
  text-align: left;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UXDesignWhyBF-main > ul > li:nth-child(1),
.UXDesignWhyBF-main > ul > li:nth-child(4) {
  width: 70%;
  align-items: flex-start;
}

.UXDesignWhyBF-main > ul > li:nth-child(2),
.UXDesignWhyBF-main > ul > li:nth-child(3) {
  width: 75%;
  align-self: flex-end;
}

.UXDesignWhyBF-main > ul > li {
  margin-bottom: 2%;
}

.UXDesignWhyBF-images {
  position: relative;
  z-index: 0;
  width: 45%;

  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UXDesignWhyBF-images > img {
  height: 45%;
  position: absolute;
}

.UXDesignWhyBF-images > img:nth-child(1) {
  z-index: 0;
  top: 0;
  left: 0;
}

.UXDesignWhyBF-images > img:nth-child(2) {
  z-index: 1;
  right: 0;
}

.UXDesignWhyBF-images > img:nth-child(3) {
  z-index: 0;
  bottom: 0;
  left: 0;
}
