.about-us-Banner {
  height: 94vh;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-us-banner-content {
  width: 45%;
  height: fit-content;
}

.about-us-banner-content > h1 {
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 10px;
  color: #ef4c34;
  font-size: 35px;
}
.about-us-banner-content > p {
  margin: auto;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-us-banner-content > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-banner-content > div > div {
  width: fit-content;
  margin-top: 10px;
  padding-left: 10px;
}

.about-us-banner-content > div > span {
  width: 2px;
  height: 35px;
  background-color: #d9d9d9;
  border-radius: 2px;
  align-self: flex-end;
}

.about-us-banner-content > div > div > p {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
}

.about-us-banner-image {
  width: 50%;
  height: fit-content;
}

.about-us-banner-image > img {
  width: 100%;
}
