/* .skills-why-application-main {
  border: 1px solid red;
} */

.skills-why-application-main > h1 {
  color: #ef4c23;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 32px;
}

.skills-why-application-content {
  max-width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills-why-application-content > div {
  width: 30%;
  text-align: left;
  padding: 10px;
  margin-top: 20px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skills-why-application-content > div > h3 {
  margin-bottom: 0px;
  font-size: 18px;
}

.skills-why-application-content > div > p {
  margin-top: 0px;
  font-size: 16px;
}

.skills-why-appl-cards-images-div {
  height: 50px;
}

.skills-why-appl-cards-images-div > img {
  height: 100%;
}
