.SaaSAgency-maindiv{
/* border: 2px solid yellow; */
margin-top: 5%;



}
.SaaSAgency-maindiv h1{
text-align: center;
justify-content: center;
}
.SaaSAgency-innerdiv{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 4%;

}
.SaaSAgency-carddiv{
    /* border: 2px solid green; */
    width: 28%;
    height: 520px;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center; */
}
.SaaSAgency-carddiv:hover{
    background-color: #f8e2dd;
}
.SaaSAgency-carddivimage{
    width: 80%;
    margin-left: 12%;
   

}
.SaaSAgency-carddivimage img{
    width: 100%;
}