.eyeweardeliveryadminpannelmainbox{
    /* height: 80vh; */
    /* margin-top: 100p x; */
    display: flex;
    /* border: 2px solid red; */
}

.eyeweardeliveryadminpannelleftbox{
    height: fit-content;
    width: 65%;
    /* border: 2px solid red; */
}

.eyeweardeliveryadminpannelrightbox{
    height: 50%;
    width: 45%;
    /* border: 2px solid red; */
    position: relative;
    margin-top: 5%;

}

.eyeweardeliveryadminpannelrightbox >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.eyeweardeliveryadmintextboxleftside{
    height: fit-content;
    width: 55%;
    /* border: 2px solid red; */
    position: absolute;
    text-align: justify;
    left: 3%;
}

.eyeweardeliveryadminpannelwheremap{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

 .eyewearmappingdataboxadminpannel{
    width: 44%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
    border-radius: 10px;
    margin: 3%;
    display: flex;
    padding: 10px;
    /* border: 2px solid red; */
}

.eyewearmappingdataboxadminpannel:hover{
    transform: scale(1.02);
    background-color: #ffebef;
}
.eyeadminlogo{
    margin: 1%;
    padding:10px;
}