.datingsolutiondiv{
    width: 100%;
    height: 500px;
    padding: 20px;
    text-align: center;
}
.datingsolutionsubdiv{
    width: 90%;
    margin: auto;
    height: 450px;
    margin: auto;
    display: flex;
}
 

.datingsolutiondiv{
    width: 100%;
    padding: 20px 0;
    background-color: white;
    height: 550px;
}
.datingsolutiondiv>div{
    text-align: center;
    padding: 5px;
}
.datingsolutionsubdiv{
    width: 90%;
    background-color: white;
    margin: auto;
    height: 460px;
    display: flex;
}
 
.szupdatediv{
 
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 20px;
    height: 170px;
    padding: 30px;
    /* background-color: aqua; */
}
 
 

.reminderdiv{
    margin-top: 15%;
}
 
