.datingsolutiondiv {
  width: 100%;
  height: 500px;
  padding: 20px;
  text-align: center;
}
.datingsolutionsubdiv {
  max-width: 90%;
  background-color: white;
  margin: auto;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datingsolutionsubdiv > div {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.datingsolutiondiv {
  width: 100%;
  padding: 20px 0;
  background-color: white;
  height: 550px;
}
.datingsolutiondiv > div {
  text-align: center;
  padding: 5px;
  padding-top: 10px;
}
