._SeoMain1 {
  width: 100%;
  height: 713px;
  background: url("/public/Images/seopages/seo.png");
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 100% 100%;
  background-origin: border-box;
  position: relative;
  /* background-color: #ef4c23; */
}

.contentSection {
  width: 95%;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
._Seotext {
  /* border:1px solid white; */
  width: 40%;
  margin-top: 60px;
  padding: 20px;
  color: black;
  box-sizing: border-box;
}
._Seotext h2,
h5 {
  color: #ef4c23;
}
._Seotext > p {
  color: rgb(78, 77, 77);
}
._Seotext > button {
  background-color: #ef4c23;
  font-weight: 500;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid #ef4c23;
}
._Seotext > button:hover {
  background-color: white;
  font-weight: 500;
  color: #ef4c23;
  
  border: 1px solid #ef4c23;
}
._Seoparagraph {
  /* border:1px solid white; */
  color: gray;
  font-weight: 400;
  width: 100%;
  color: white;
  line-height: 1.5;
  font-size: 20px;
}
._Seoheading {
  /* border:1px solid white; */
  margin-bottom: 10px;
  color: white;
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  /* text-align: left; */
}
._Seoheading + div {
  font-size: 25px;
  /* text-align: left; */
}
._Seoform {
  /* border:1px solid red; */
  width: 37%;
  /* background-color: aquamarine; */
}
._Seoformcontent {
  /* width: 500px; */
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 40px rgb(0 0 0 / 15%);
}
._Seoformheading {
  margin-top: 20px;
  font-size: 23px;
  text-align: center;
  font-weight: 700;
  color: #ef4c23;
}

._SeoRatings {
  border: 1px solid green;
}
._Seoenterform {
  /* border:1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.seoInput {
  padding: 5px 7px;
  font-size: 15px;
  border: 0.3px solid gray;
  border-radius: 4px;
  outline: none;
}

.seoSelect {
  width: 100%;
  margin: 0;
  outline: none;
  font-size: 15px;
  padding: 5px 5px;
  border: 0.5px solid gray;
  border-radius: 5px;
}
._seoforminput {
  border: 0.5px solid #ef4c23;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  width: 100%;
  color: gray;
  font-weight: 400;
}
._seoforminput ~ label {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: 4px;
}
.Seoforminput:hover {
  outline-color: #ef4c23;
}
label ~ select {
  width: 100%;
  font-size: 15px;
  border-radius: 12px;
  padding: 10px;
  color: gray;
  border: 0.5px solid #ef4c23;
}
._SeoSubmitbutton {
  border: 1px solid #ef4c23;
  width: 120px;
  height: 40px;
  font-size: 19px;
  background-color: #ef4c23;
  color: white;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  box-sizing: border-box;
  padding: 5px;
}
._SeoSubmitbutton:hover {
  color: #ef4c23;
  background-color: white;
  transition: 0.2s linear;
  cursor: pointer;
}
._Seochkpricing {
  border: 1px solid white;
  width: 250px;
  height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 17px;
  color: #ef4c23;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
  padding: 3px;
}
._Seochkpricing:hover {
  background-color: #ef4c23;
  color: white;
  cursor: pointer;
  transition: 0.2s linear;
}
