._Seodmwhymaindiv{
    background-color:#EF4C23;
    margin-top: 45px;
}
._Seodmwhytext{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    color:white;
    justify-content: center;
}
/* ._Seodmwhybox1{
    border:1px solid red;
} */
._Seodmwhyheading{
    text-align: center;
    color:white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
._Seodmwhybox1{
    width:70%;
    /* background-color: white; */
    border-radius: 10px;
    display:flex;
    gap: 2%;
}
._Seodmwhylogo{
width:8%;
/* border:1px solid blue; */
background-color: white;
border-radius: 50%;
box-sizing: border-box;

}
._Seodmwhylogo>img{
    padding-top: 13.5%;
    display: block;
    width: 60%;
    height: 80%;
   
    /* border:1px solid red; */
    margin: auto;
}
._Seodmwhydetails{
width:90%;
/* border:1px solid green; */
color :white
}