.php-banner-nav-main {
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.php-banner-nav-main > span {
  max-height: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  overflow: hidden;
  width: fit-content;
}

.php-banner-nav-main > span > p {
  font-size: 16px;
  text-align: left;
  color: black;
  height: 20px;
  width: 100%;
  overflow: hidden;
  display: none;
  animation: showtext 1s linear;
}

@keyframes showtext {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
