.ContactUSBanner-main {
  height: 60vh;
  background: url("/public/Images/ContactUS/banner.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactUSBanner-main > h1 {
  font-size: 37px;
  text-shadow: 5px 5px 4px #ef4c34;
}
