.politicsmobile{
    width: 100%;
    /* background-color: rgb(31, 118, 118); */
    height:300px;
    }
     
    .politicsmobilesub{
        width: 95%;
        margin: auto;
        display: flex;
        height: 200px;
        padding: 20px;
        /* background-color: rgb(103, 35, 35); */
      
        position: relative;
    }
    
    .szPoliticalmobilediv{
        width: 70%;
        padding: 30px 20px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 52%;
        font-size: 18px;
        left: 45%;
    }
     .szpoliticmobilehead{
        width: 45%;
        margin-left: 2%;
        background: url("/public/Images/Politics/rectanglebg.png");
        background-repeat: no-repeat;
        background-size: 100% 70px;
        background-position: 0px 30px;
     }