.politicsreliable {
  width: 100%;
  margin-top: 15px;
}

.politicsreliablesub {
  width: 90%;
  margin: auto;
  display: flex;
  height: 150px;
  padding: 20px;
  position: relative;
}

.szPoliticalreliablediv {
  /* background-color: coral; */
  width: 70%;
  padding: 30px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  text-align: left;
  font-size: 18px;
  left: 37%;
}
.szpoliticreliablehead {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
