.RG-service-Offer-heading {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 4%;
}

.RG-service-Offer-Span {
    color: #ef4c23;
}

.RG-service-Offer-Three-Boxes-Main {
    width: 45%;
    height: fit-content;
    margin: auto;
    /* border: 1px solid red; */
}

.RG-service-Offer-Three-Boxes-Main > div {
    border-radius: 20px;
    /* border: 1px solid green; */
}

.RG-service-Offer-Box-1-2-Combo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin-bottom: 3%;
    margin: auto;
    /* border: 1px solid red; */
    gap: 20px;
}

.RG-service-Offer-Box-1>img {
    max-width: 100%;
    max-height: 100%;

}

.RG-service-Offer-Box-2 > img {
    max-width: 100%;
    max-height: 100%;
}

.RG-service-Offer-Box-3>img {
    max-width: 100%;
    max-height: 100%;
}


.RG-service-Offer-Box-1 {
    position: relative;
    display: flex;
    justify-content: center;

}

.RG-service-Offer-Box-2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.RG-service-Offer-Box-3 {
    height: 300px;
    padding: 1%;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: right;
}

.RG-service-Offer-Box1-Img2 {
    width: 50%;
    position: absolute;
    padding-top: 1%;

}

.RG-service-Offer-Box2-Img2 {
    width: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 1%;

}

.RG-service-Offer-Box3-Img2 {
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.RG-service-Offer-box-1-head {
    position: absolute;
    bottom: 30%;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

.RG-service-Offer-box-1-para {
    position: absolute;
    bottom: 16%;
    color: white;
    text-align: center;
    /* border: 1px solid red; */

}

.RG-service-Offer-box-2-head {
    position: absolute;
    bottom: 30%;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

.RG-service-Offer-box-2-para {
    position: absolute;
    bottom: 10%;
    text-align: center;
    color: white;
   
    /* border: 1px solid red; */
}

.RG-service-Offer-box-3-head {
    position: absolute;
    top: 30%;
    color: white;
    left: 8%;
    /* border: 1px solid red; */
}

.RG-service-Offer-box-3-para {
    position: absolute;
    bottom: 18%;
    width: 40%;
    color: white;
    left: 8%;
}


.RG-service-Offer-Button {
    background: black;
    color: white;
    padding: 12px 55px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: 2px solid white;

}

.RG-service-Offer-Button:hover {
    color: black;
    background-color: white;
}

.RG-service-Offer-Button-Div {
    justify-content: center;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
}