.solution-Frame-Main-Container {
   position: relative;
   height: fit-content;
   background-image: url(/public/Images/Trading-investing-App/banners-backgrounds/Rectangle.png);
    /* border: 2px solid green; */
    padding-bottom: 3%;
}

.solution-Frame-Sub-Container {
    display: flex;
   align-items: center;
   justify-content: space-between;
   /* border: 2px solid green; */
   
}
.solution-Frame-Main-Heading {
    width: 45%;
    text-align: center;
    margin: auto;
    color: white;
   
    
}
.solution-Frame-Content-Box-Heading{
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    position: absolute;
    top: 15%;
    
    
   
    /* border: 2px solid blue; */
}
.solution-Frame-Right-Content-Holder {
    height: 500px;
    width: 45%;
    background: url("/public/Images/Trading-investing-App/banners-backgrounds/Rectangle-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: right;
    /* border: 1px solid green; */
}

.solution-Frame-Right-Image-Holder-Div {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 4%;
    right: 9%;
}

.solution-Frame-Right-Image-Holder-Div > img {
height: 100%;
width: 100%;
object-fit: contain;
}


.solution-Frame-Left-Content-Holder {
    display: flex;
    flex-wrap:wrap;
    row-gap: 30px;
    justify-content: space-around;
    /* border: 1px solid blue; */
    width: 35%;
    /* padding: 2%; */
    align-items: center;
    margin-top: 5%;
   
    /*               */
}

.solution-Frame-Left-Div-Boxes{
    height: 170px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    font-weight: 600;
    border-radius: 15px;
}

.solution-Frame-Left-Div-Boxes:hover {
    transform: scale(1.02);
    background-color: #ffebef;
}

.solution-Frame-Icons {
    width: 40%;
}

.solution-frame-box-text {
    font-size: 18px;
}