.RG-whyChoose-BF-Container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    margin-top: 5%;
    height: fit-content;
}
.RG-whyChoose-BF-Right-Main-Div {
    width: 45%;
    /* border: 1px solid red; */
}

.RG-whyChoose-BF-Left-Main-Div{
   margin-top: 3%;
    width: 45%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid grey;
    /* border: 1px solid red; */
}

.RG-whyChoose-BF-Left-Boxes-Div {
    width: 50%;
}

.RG-whyChoose-BF-div-For-Flex-icon-Head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.RG-whyChoose-BF-div-For-Flex-icon-Head > div > img {
    width: 50%;
}

.RG-whyChoose-BF-lorem-para {
   
    text-align:left;
        width: 50%;
   margin-left: 36%;
}

.RG-whyChoose-BF-Right-HR-Line {
    width: 10%;
    height: 1px;
   background-color: red;
   margin-right: 2%;

}

.RG-whyChoose-BF-Right-HR-Line2 {
    width: 40%;
    height: 1px;
   background-color: black;
}

.RG-whyChoose-BF-Right-HR-Line-container {
    display: flex;
    
}

.RG-whyChoose-BF-Right-Div-For-Text > h1 {
    font-weight: 500;
}


.RG-whyChoose-BF-Right-Div-For-Text > p {
    font-weight: 400;
    width: 80%;
    margin-top: 4%;
}


