.RGtank {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.RGfooterImg {
    position: absolute;
}

.RGfooterText {
    position: absolute;
    color: white;
    margin-top: 100px;
    font-size: 20px;
}

.RGfbtn {
    background: white;
    color: #ef4c23;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    
}