/* .RGmain {
  display: flex;
  margin-top: 50px;
  position: relative;
}

.RGimg1 {
  width: 70%;
  position: relative;
}

.RGimg2 {
  width: 90%;
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RGimgText {
  color: white;
  text-align: left;
  font-size: 20px;
  width: 50%;
} */

.RGMidImgContainer {
  display: flex;
   position: relative;
   align-items: center;
   width: 100%;
}

.RGleftImgDiv {
   width: 60%;
}


.RGrightImgDiv  {
    width: 50%;
   position: absolute;
   right: 3%;
}


img {
width: 100%;
}

.RGimgText {
   position: absolute;
   left: 5%;
   font-size: 20px;
   color: white;
   line-height: 30px;
   word-spacing: 2px;
}


