.RGmain {
  display: flex;
  margin-top: 50px;
  position: relative;
}

.RGimg1 {
  width: 70%;
  position: relative;
}

.RGimg2 {
  width: 90%;
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RGimgText {
  color: white;
  text-align: left;
  font-size: 20px;
  width: 50%;
}
