._Seodmindustriesmaindiv{
    display: flex;
    margin-top: 20px;
}
._Seodmindustriesimage{
    border:1px solid green;
    width:33.33%;
    height:500px;
    position: relative;
}
._Seodmindustriesimage>img{
    height:100%;
    width:100%;
}
._Seodmindustries>h1{
text-align: center;
color: #EF4C23;
}
._Seodmindustries{
    margin-top: 50px;
}
._Seodmindustriesimage1{
    width:70%;
    transition: 0.5s ease-in-out;
    height:500px;
    position: relative;
    background-color: rgba(216, 157, 157, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
._Seodmindustriesimage1>img{
    height:100%;
    width:100%;
}
._Seodmindustriestext{
    position: absolute;
    top:50px;
    color:white;
    font-size: 40px;
    border:1px solid purple;
    opacity: 0;
    
}
._Seodmindustriestext1{
    position: absolute;
    top:50px;
    color:white;
    font-size: 40px;
    /* border:1px solid purple; */
    animation-name:example;
    animation-fill-mode: both;
    opacity: 1;
    transition: 0.5s linear;
  
    /* animation-timing-function: linear; */
}
@keyframes example {
    0%  {left:0px}
   100% {left:100px}
  }