/* ._Reactnativebenefits{
    border:1px solid saddlebrown;
} */
._Reactnativebenefits>h1{
/* text-align: center; */
/* border:1px solid rebeccapurple; */
width: 88%;
margin: auto;
font-weight: 600;
color: black;
margin-top: 50px;
}
._Reactnativebenefits>p{
    /* border:1px solid green; */
    /* text-align: center; */
    width: 88%;
    margin: auto;
    /* padding: 15px; */
    padding-top: 15px;
    line-height: 1.8;
    font-size: 16px;
    /* color: gray; */
    font-weight: 400;
}