.alcohol-admin-panel-div-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 450px;
}

.alcohol-admin-panel-div-images {
  width: 40%;
  height: 100%;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.alcohol-admin-panel-div-images > img {
  width: 100%;
  /* border: 1px solid red; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.alcohol-admin-panel-div-content {
  width: 45%;
  text-align: center;
  padding: 20px;
}

.alcohol-admin-panel-div-content > h2 {
  color: #9a4c72;
  font-size: 25px;
}

.alcohol-admin-panel-div-content > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.alcohol-admin-panel-div-content > div > div {
  width: 45%;
  height: 170px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  cursor: default;
  border-radius: 15px;
  /* border: 2px solid rgb(253, 242, 240); */
  box-shadow: rgba(247, 165, 151, 0.5) 0px 3px 8px;
}

.alcohol-admin-panel-div-content > div > div:hover {
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-5px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alcohol-admin-panel-div-content > div > div > h4,
.alcohol-admin-panel-div-content > div > div > p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
