.food-delivery-partner-app-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 550px;
  margin-bottom: 3%;
}

.food-delivery-partner-app-images {
  width: 50%;
  height: 100%;
  position: relative;
}

.food-delivery-partner-app-images > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  /* border: 1px solid red; */
}

.food-delivery-partner-app-images > div > img {
  position: absolute;
  height: 100%;
}

.food-delivery-partner-app-images > div:nth-child(1) > img {
  left: 0;
  bottom: 8%;
  z-index: 1;
  width: 100%;
  height: 200px;
  /* border: 1px solid red; */
}
.food-delivery-partner-app-images > div:nth-child(2) > img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid green; */
  object-fit: contain;
  z-index: 4;
  bottom: 0;
  height: 100%;
}

.food-delivery-partner-app-content {
  width: 45%;
  text-align: center;
  padding: 20px;
}

.food-delivery-partner-app-content > h2 {
  color: #ef4c23;
  margin-bottom: 35px;
}

.food-delivery-partner-app-content > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.food-delivery-partner-app-content > div:hover{
  cursor: pointer;
}

.food-delivery-partner-app-content > div > div {
  width: 45%;
  height: 170px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  cursor: default;

  border-radius: 15px;

  border: 2px solid rgb(225, 249, 246);
  box-shadow: rgba(136, 249, 234, 0.5) 0px 3px 8px;
  margin-top: 10px;
}

.food-delivery-partner-app-content > div > div:hover {
  cursor: pointer;
  margin-top: 0;
  transition: all .3s linear;
}

.food-delivery-partner-app-content > div > div > h4,
.food-delivery-partner-app-content > div > div > p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
