.marketplacefreelancerdiv{


height: 500px;
width: 100%;
margin-top: 140px;


}

.marketplacefreelancerdivtext{
 
    height: 100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}


.marketplacefreelancerflex{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
 
}

.marketplacefreelancerflexleft{
    /* border: 1px solid red; */
    height: 400px;
    width: 40%;
    margin-left: 10%;
    background-image: url("/public/Images/Marketplaceapp/Bannersandbackgrounds/Component42.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.marketplacefreelancerflexright{

    height: 400px;
    width: 60%;
    margin-left: -100px;
    /* margin-right: 10%; */
}

.marketplacefreelancerflexleftinsider{
    background-image: url("/public/Images/Marketplaceapp/Freelancerappcreen/Register.png");
    height: 340px;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-top: 10%;

}

.marketplacefreelancerflexleftinsider2{
    background-image: url("/public/Images/Marketplaceapp/Bannersandbackgrounds/picture.png");
    height: 500px;
    width: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 24%;
    margin-top: 10%;
    margin-top:-180px ;

}




.marketplacefreelancerflexbox{
     
        height: 50%;
        width: 100%;
        display: grid;
        
     grid-template-columns: repeat(2,400px);

     background-image: url("/public/Images/Marketplaceapp/Bannersandbackgrounds/Group3399722.png");
     background-repeat: no-repeat;



      }


 .flexboxdivmarketplacefree{
   
    margin: 5px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
 }

 .flexboxinnerimg{

    background-image: url("/public/Images/Marketplaceapp/Bannersandbackgrounds/Group3399722.png");
    background-repeat: no-repeat;
    /* margin-left: 200px; */

 }
    

.flexboxdivmarketplacefreeimgbox{



height: 100%;
width: 45%;


background-color: white;

}


.flexboxdivmarketplacefreetxtbox{

 width: 100%;
 height: 100%;

 margin-left: -20px;

 
}

.fleximgfreelance{
    object-fit: cover;
    margin-top: 20px;

}