.marketplacemaindiv{
    /* height: 5500px; */
    width: 100%;
  
    margin-top: 120px;
}

.marketplaceheaderimg{
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Component41.png");
  height: 800px;
  width: 100%;
  
  background-size: cover;
  


}
.marketplaceheadertext{
    height: 300px;
    width: 35%;
  
    margin-top: -500px;
    margin-left: 70px;
    color: white;
}

.marketplacebutton{
    background-color: #5B89FF;
    color: white;
    border-radius: 5px;
   width: 120px;
}

.freelancertext{
    height: 100px;
    width: 100%;

   margin-top: 200px;
   text-align: center;
}

.freelancerdivflex{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 90%;
    margin-left: 15%;
  
    margin-top: 70px;
   
}

.freelancerdivflexleft{
 
    height: 100%;
    width: 30%;
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Component42.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;

}

.freelancerdivflexright{
  
    height: 100%;
    width: 60%;
    /* margin-left: -160px; */





}

.freelancerdivflexleftimg2{
    background-image: url("Images/Marketplaceapp/Freelancerappcreen/Register.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-top: 120px;
}

.freelancerdivflexleftimg3{
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin-top: -160px;
    margin-left: 120px;


}


.freelancerrightdivwork{
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Group3399722.png");
height: 80px;
width: 100px;
margin-top: 10px;

}

.freelancerflexrighttext{

    height: 100px;
    width: 100%;
    text-align: left;
}


.freelancerrightdivflex{



    height: 60%;
    width: 100%;
    margin-left: 5%;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    

}

.freelancerrightdivflex > div {
    height:130px;
    width :46%;
  
    margin: 10px;
}

.freelancergrid{
display: flex;
flex-wrap: wrap;
/* border: 2px solid red; */
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border: 15px;

}

.freelancergrid > .freelancergridimg {
    height: 100%;
    width: 25%;
    margin-top: 20px;
   
}

.freelancergrid > .freelancergridtxt {
    height: 100%;
    width: 75%;
    margin-top: 20px;
    text-align: left;
}


.imagetargetfreelance{
margin-top: 10px;
}

/* .freelancercontainer3{
height: 450px;
width: 80%;
border: 1px solid red;
 background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Component44.png");
background-repeat: no-repeat;
background-size: cover;

    

} */


.freelancerfleximagedivadmin{
/* border: 1px solid red; */
/* display: flex; */
width: 100%;
height: 900px;
margin-top: -100px;
}

.freelancerfleximagedivadminleftimage{
   height: 100%;
    width: 100%;
/* border: 1px solid red; */
 background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Component43.png");
background-repeat: no-repeat;
background-size: cover;
}

.freelancerfleximagedivadminrighttimage{

    height: 70%;
    width: 40%;
/* border: 1px solid red; */
 background-image: url("Images/Marketplaceapp/Adminappscreens/dashboard.png");
background-repeat: no-repeat;
background-size: cover;
margin-top: -675px;
margin-left: 60%;


}


.insiderimagetextfreelancer{
    margin-top: -700px;
 
    height: 600px;
    width: 1400px;
    margin-left: 30px;
}
.freelancerchekerdiv{
    margin-top: 100px;
}

.freelancerflexrighttext3{
    width: 700px;
    text-align: left;
   
    margin-left: 50px;

}


.freelancerclentsdiv{
height: 600px;
width: 100%;

margin-top: 100px;


}


.freelancerclentsdivclient{
    margin-top: 100px;
    margin-left: 100px;
}

.freelancerdivdummy{
    margin-top: 100px;
}

.freelancerrightdivcleints{
height: 400px;
width: 550px;

margin-top: -600px;
margin-left: 60%;


}

.freelancerrightdivcleintsimageinsider1{
    height: 600px;
    width: 700px;
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Component44.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -220px;
    margin-left: -150px;
 

}

.freelancerrightdivcleintsimageinsider2{

height: 450px;
width: 250px;
background-image: url("Images/Marketplaceapp/Clientsappscreen/detailsofposts.png");
background-repeat: no-repeat;
background-size: contain;
margin-top: -420px;
margin-left: 200px;


}

.freelancerrightdivcleintsimageinsider3{

  
    height: 200px;
    width: 250px;
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/picture(2).png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -230px;
    margin-left: 80px;

}

.freelancerbottomborder{
    border: 1px solid white;
    height: 700px;
    width: 100%;
    margin-top: 1700px;
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Group3399721.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: -190px; */
    

}

.freelancerbottomborderleftimage{
    height: 300px;
    width: 250px;
    background-image: url("Images/Marketplaceapp/Bannersandbackgrounds/Group339972.png");
    background-repeat: no-repeat;
    background-size: contain;
   margin-top: 215px;
    margin-left: 250px;
}

.freelancetextborderbottom{
 
    height: 240px;
    width: 1000px;
    margin-left: 490px;
    margin-top: -250px;
}

.freelancetextbottomdiv{
    color: white;
    text-align: center;
}
.marketplacebutton2{
    color: black;
    border-radius: 5px;
    width: 120px;
    margin-left: 450px;
}


.freelancebottomtxt{

  
    height: 300px;
    width: 100%;
text-align: center;
margin-top: 50px;

}
.freelancebottomflex{
    display: flex;
    flex-direction: row;
  
    margin-left: 200px;
}


.flexboxfreelancebottom{
  
    height: 150px;
    width: 250px;
    margin: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.customization{
    background-image: url("Images/Marketplaceapp/icons/setting.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-left: 90px;
    margin-top: 20px;
}

.customization1{
    background-image: url("Images/Marketplaceapp/icons/highly.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-left: 90px;
    margin-top: 20px;
}

.customization2{
    background-image: url("Images/Marketplaceapp/icons/support.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-left: 90px;
    margin-top: 20px;
}

.customization3{
    background-image: url("Images/Marketplaceapp/icons/global.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 70px;
    margin-left: 90px;
    margin-top: 20px;


}

.xtttext{
    margin-top: 20px;
}