.carservicetechnicianmainbox{
    height: 80vh;

    position: relative;
}

.carservicetechnicianappboxfortxt{
    position: absolute;
    height: fit-content;
   right: 12%;

   width: 40%;
   top:10%
}

.carservicetechnicianppflexingintonew{
    display: flex;

}

.carservicetechnicianappflexingintonewleft{
    height: 300px;

    width: 45%;
    margin-top: 17%;

    background: url("/public/Images/CarService/BannersBackgrounds/Rectangle 4721.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.carservicetechnicianappflexingintonewleftinsiderboxformobile{
   position: absolute;
    height: 150%;
    width: 50%;

  bottom: 2%;
    left: 22%;
}

.carservicetechnicianappflexingintonewleftinsiderboxformobile >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.carservicetechnicianappflexingintonewright{
    height: 300px;
    width: 60%;
  margin-left: 5%;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;

  
}

.carservicetechnicianaftermappingnewboxes{
    height: fit-content;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin: 1%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}

.carservicetechnicianaftermappingnewboxes:hover{
    transform: scale(1.02);
}


.eyeweardriveraftermappingnewboxes:hover {
    transform: scale(1.02);
    background-color: #ffebef;
}




.logocarservicetechnician{

    margin: 2%;
    
}