.carserviceacceleratemainbox{
    margin-top: 30px;
    height: 400px;

    background: url("/public/Images/CarService/BannersBackgrounds/Group.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.lowerbannercarservicetextbox{
    height: fit-content;
    width: 60%;
    position: absolute;
    left: 3%;
    top: 25%;
    color: white;
}

.lowerbannercarserviceforbutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: 250px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 2%;
  
}

.lowerbannercarserviceforbutton:hover {

    background-color:white;
    color:  #3380f2;

}
