.SaasValuable-main {
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.SaasValuable-content {
  width: 65%;
}

.SaasValuable-content > h1 {
  font-size: 32px;
  width: 60%;
}

.SaasValuable-content > p {
  font-size: 16px;
  width: 95%;
}

.SaasValuable-content > div {
  width: 90%;
  margin: auto;
}

.SaasValuable-images {
  width: 30%;
  text-align: left;
}

.SaasValuable-funnel-image {
  width: 90%;
  height: 570px;
  overflow: hidden;
  transform: rotateY(180deg);
}

.SaasValuable-funnel-image > img {
  width: 200%;
  height: 100%;
}

.SaasValuable-images > img {
  height: 400px;
}
