.OurTeam-main {
  margin-bottom: 100px;
}

.OurTeam-heading > h1 {
  width: 90%;
  margin: auto;
  margin-bottom: 5px;
  font-size: 32px;
}

.OurTeam-heading > p {
  font-size: 16px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
}

.OurTeam-main > div {
  border: 1px solid red;
  height: 600px;

  position: relative;
}

.OurTeam-pink-background {
  width: 100%;
  height: 50%;
  background-color: #ffd5d0;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
