.aviationbannermaiboxes{
    height: 100vh;

    margin-top: 120px;
    background: url("/public/Images/aviation/Component\ 141.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.aviationbannertextboxes{
    height: 100px;
    width: 50%;
    top: 35%;
    left: 5%;
    color: white;
  
    position: absolute;
    border-bottom: 2px solid;
}


.aviationboxsmalltextbox{
    height: fit-content;
    width: 50%;
    
    position: absolute;
    top: 55%;
    left: 5%;
    color: white;
}


.aviationbannerbutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: fit-content;
    height: 60px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ef4c23;
    margin-top: 5%;
  
}

.aviationbannerbutton:hover {

    background-color:#ef4c23;
    color:  white;

}