.sztaxicustomercontainer{
    width: 100%;
    height: 580px;
    /* background-color: aqua; */
}
.sztaxicustomersub{
    width: 95%;
    height: 500px;
    margin: auto;
    /* background-color: blue; */
    display: flex;
}
.sztaxicustomerleft{
width: 50%;
/* background-color: brown; */
position: relative;
}
.sztaxicustomerright{
width: 50%;
/* background-color: tan; */
}
.szyellowtriangle{
    width: 47%;
    /* margin-top: 10%; */
    height: 500px;
   position: absolute;
}
.szyellowtriangle>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.sztaxidrive{
    width: 20%;
    /* background-color: blue; */
    height: 320px;
   margin-top: -2%;
    margin-left: 15%;
   position: absolute;
}
.sztaxidrive>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sztaxiarive{
    /* background-color: palegreen; */
    width: 30%;
    margin-top: -1%;
    margin-left: 18%;
    height: 320px;
   position: absolute;
}
.sztaxiarive>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
 
.sztaxicustomerleft>div>ul>li{
    list-style-type:disc;
    font-size: 18px;
    margin-left: 10%;
}
.sztaxicustomerleft>div>h2{
    /* text-align: center;
     */
     margin-left: 10%;
    padding: 10px 0px;
}
.sztaxicustomerleft>div{
    width: 100%;
    padding: 0px 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
}
.szcaricon{
width: 30%;
height: 200px;
 padding-top: 30px 20px;
}
.szcaricon>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.taxicustomerbtn{
    padding:10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 50%;
    margin-left: 12%;
    background-color: #ef4c23;
    color:white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.taxicustomerbtn:hover{
    background-color: white;
    color:#ef4c23;
}