.sztaxidrivecontainer {
  width: 100%;
  height: 580px;
  margin: 2% auto;
  /* background-color: aqua; */
}
.sztaxidrivesub {
  width: 100%;
  height: 500px;
  /* margin: auto; */
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.sztaxidriveright {
  width: 50%;
  /* background-color: tan; */
  background: url("/public/Images/Taxibooking/twotriangle.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sztwotriangle {
  width: 45%;
  /* margin-top: 10%; */
  height: 500px;
  position: absolute;
}
.sztwotriangle > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.sztaximobile {
  width: fit-content;
  height: 500px;
  margin-top: 2%;
  margin-left: -9%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sztaximobile > img {
  height: 100%;
  object-fit: contain;
}
.sztaxiarive {
  /* background-color: palegreen; */
  width: 30%;
  margin-top: -1%;
  margin-left: 18%;
  height: 320px;
  position: absolute;
}
.sztaxiarive > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sztaxidriveleft {
  width: 50%;

  position: relative;
}

.sztaxidriveleft > div > ul > li {
  list-style-type: disc;
  font-size: 18px;
  margin-left: 20%;
  margin-bottom: 2%;
  cursor: pointer;
}
.sztaxidriveleft > div > h2 {
  /* text-align: center; */
  padding: 10px;
  margin-left: 20%;
}
.sztaxidriveleft > div {
  width: 100%;
  padding: 0px 160px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
.szcaricon {
  width: 30%;
  height: 200px;
}
.szcaricon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.taxidrivebtn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 45%;
  margin-left: 33%;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.taxidrivebtn:hover {
  background-color: white;
  color: #ef4c23;
}
