.OurMission-maindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.OurMissiondiv1{
    border: 2px solid orangered;
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 15%;
}
.OurMissiondiv1-inner{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-left: 2%;
    
}
.OurMissiondiv1-inner h1{
    margin-top: 30%;
}
.OurMissiondiv1-inner img{
    /* border: 2px solid green; */
    width: 60%;
    height: 280px;
}


.OurMissiondiv2{
    padding-left: 2%;
}

.OurMissiondiv2 p{
    font-size: 24px;
    font-weight: 400;

}

.OurMissiondiv1-visiondiv{
    border: 2px solid orangered;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 2%;
}
.OurMission-maindivheading{
    text-align: center;
    margin-top: 5%;
    /* border-bottom:  2px solid orangered; */
   
}
.OurMission-maindivheading h1{
    font-size: 40px ;
}