.RGofferTab {
  background: #ef4c23;
  color: white;

  width: fit-content;
  height: fit-content;

  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;

  padding: 1% 5%;
  margin: auto;
  margin-top: -2%;
  margin-bottom: 3%;
}

.RGflexContainer {
  width: 90%;
  margin: 2% auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.RGflexContainer > div {
  display: inline-flex;
  flex-wrap: wrap;
  width: 30%;
  height: 200px;
  margin-bottom: 3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.RGbuttonsPannel {
  width: 100%;
  padding: 2%;
  border-top: 1px solid #d6d6d6;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.RGfirstColumnsDivHead {
  width: 80%;
  height: 40px;
  background: #ef4c23;
  color: white;
  border-radius: 0 10px 10px 0;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RGsecondColumnsDivHead {
  height: 40px;
  background: #ef4c23;
  color: white;
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RGthirdColumnsDivHead {
  margin-left: 20%;
  margin-top: 2%;
  width: 80%;
  height: 40px;
  background: #ef4c23;
  color: white;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RGtitlePTagFirstCols {
  font-size: 18px;
  margin: 0;
}

.RGtitlePTagSecondCols {
  font-size: 18px;
  margin: 0;
}

.RGtitlePTagThirdCols {
  font-size: 18px;
  margin: 0;
}

.RGeffortlessParagraph {
  font-size: 16px;
  width: 95%;
  margin: 3% auto;
}

/* common claSSES IN ALL BOXEXS -> */

.RGsignINButton {
  color: black;
  background: transparent;
  cursor: pointer;
  margin-left: 2%;
  border: 0.5px solid gray;
  padding: 5px 20px;
  border-radius: 2px;
}
.RGsignINButton:hover {
 background-color: #ef4c23;
 border: 0.5px solid #ef4c23;

 color: white;
}

.RGfreeTrailButton {
  color: white;
  background: #ef4c23;
  border-radius: 2px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  margin-right: 3%;
  border: .5px solid #ef4c23;
}
.RGfreeTrailButton:hover {
  background-color: white;
  color: #393939;
  border: .5px solid gray;

 
}

.RGtryNowTab {
  background: #ef4c23;
  color: white;
  width: 50%;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2% auto;
  align-items: center;
}

.RGtryNowTabPtag {
  font-size: 20px;
  margin: 0;
  width: 70%;
  text-align: center;
}

.RGtryNowTabButton {
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 40px;
  font-size: 20px;
  font-weight: 600;
}
