._AndroidDevelopmentwhymaindiv{
    padding:40px;
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 1.8;
}
._AndroidDevelopmentwhymaindiv>h1{
    color: #EF4C23;
    text-decoration-thickness: 2px;
}
._AndroidDevelopmentwhymaindiv>p{
    color:gray;
    font-weight: 400;
    font-family: sans-serif;
}