
.ott-Footer-Heading {
    color: white;
    text-align: center;
}

.ott-Footer-Heading > p  {
    width: 25%;
    margin: auto;
} 

.ott-Footer-main {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    height: 300px; 
    width: 90%;
    margin: auto;   
}


.ott-Footer-cards-div {
    width: 30%;
    height: 140px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    flex-direction: row;
    margin: auto; 
    padding: 15px;
}
.ott-Footer-cards-div:hover{
    box-shadow: rgba(204, 202, 202, 0.35) 0px 5px 15px;
}
.ott-Footer-img-para-combo {
    display: flex;
   gap: 20px;
   align-items: center;
}

.ott-Footer-para-div {
    width: 75%;
}
.ott-Footer-img-para-combo > img {
   width: 7%;
   height: 30px;
}