.xamarinSolutionsMainDiv{
    /* border: 2px solid red; */
    width: 100%;
    /* height: 80vh; */
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 2%;
}
.xamarinSolutionsHeading{
    /* border: 2px solid red; */
    width: 75%;
    margin: auto;
}
.xamarinSolutionsImage{
    /* border: 2px solid red; */
    width: 75%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    z-index: 0;
}
.xamarinSolutions1{
    position: absolute;
    margin-left: -72%;
    margin-top: 7.1%;
    z-index: 1;
}
.xamarinSolutions1text{
    position: absolute;
    margin-left: 23%;
    margin-top: -18%;
    z-index: 1;
}
.xamarinSolutions2{
    position: absolute;
    margin-left: -73%;
    margin-top: 17.3%;
    z-index: 1;
}
.xamarinSolutions2text{
    position: absolute;
    margin-left: 22%;
    margin-top: -8%;
    z-index: 1;
}
.xamarinSolutions3{
    position: absolute;
    margin-left: -6.5%;
    margin-top: 7.1%;
    z-index: 1;
}
.xamarinSolutions3text{
    position: absolute;
    margin-left: 60%;
    margin-top: -18%;
    z-index: 1;
}
.xamarinSolutions4{
    position: absolute;
    margin-left: -6%;
    margin-top: 17.3%;
    z-index: 1;
}
.xamarinSolutions4text{
    position: absolute;
    margin-left: 61%;
    margin-top: -8%;
    z-index: 1;
}