.Pricing-Table-main {
  width: 70%;
  height: 800px;
  margin: auto;
  margin-top:6%;
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.Pricing-Table-main > div {
  width: 25%;
  height: 100%;
  border: 1px solid #d3d3d3;
}

.Pricing-Table-main > div:nth-child(1) {
  border-top-left-radius: 20px;
}

.Pricing-Table-main > div:nth-child(4) {
  border-top-right-radius: 20px;
}

.Pricing-Table-plan {
  border-bottom: 1px solid #e1e0e0;
  /* height: 120px; */
}

.Pricing-Table-plan > h2 {
  font-size: 26px;
  width: 99%;
  height: 40px;
  margin: auto;
  margin-top: 5%;
  margin-left: 20%;
  text-align: center;
  background-color: #EF4C23;
  /* border: 2px solid red; */
}

.Pricing-Table-plan > p {
  font-size: 16px;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.Pricing-Table-content {
  color: #464646;
  text-align: center;
}

.Pricing-Table-content > h1 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.Pricing-Table-content > h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.Pricing-Table-content > p {
  font-size: 15px;
  margin-top: 5px;
}

.Pricing-Table-content > button {
  font-size: 17px;
  margin-bottom: 10%;
  padding: 10px 25px;
  background: transparent;
  outline: none;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}

.Pricing-Table-content > button:hover {
  border: 1px solid black;
}

.Pricing-Table-content > hr {
  width: 60%;
  margin: auto;
  background-color: #464646;
}

.Pricing-Table-features {
  width: 90%;
  margin: auto;
  margin-top: 10%;
}

.Pricing-Table-features > span {
  display: flex;
  gap: 5px;
  align-items: center;

  height: 30px;
  font-size: 16px;
  color: #464646;
}

