.OurAchievements-main {
  padding: 2%;
  width: 90%;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.OurAchievements-content {
  width: 55%;
}

.OurAchievements-content > h1 {
  font-size: 40px;
  margin: auto;
  margin-bottom: 3%;
}

.OurAchievements-content > h1 > span {
  color: #ef4c23;
}

.OurAchievements-content > p {
  font-size: 16px;
  text-align: justify;
  margin-top: 2%;
  margin-bottom: 2%;
}

.OurAchievements-content > button {
  font-size: 18px;
  font-weight: 600;
  margin-top: 3%;
  padding: 10px 50px;
  cursor: pointer;

  background-color: #ef4c23;
  color: white;

  border-radius: 100px;
  border: 2px solid #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.OurAchievements-content > button:hover {
  color: #ef4c23;
  background-color: white;
}

.OurAchievements-image {
  width: 40%;
  text-align: center;
}

.OurAchievements-image > img {
  width: 100%;
}
