.productOurCommitmentmainDiv {
  /* border: 2px solid red; */
  height: 700px;
}
.productOurCommitmentHeadingButtons {
  /* border: 2px solid green; */
  background-color: #e8f4ff;
  height: 50px;
  width: 100%;
  border: none;
  font-weight: 700;
}
.active {
  color: #393939;
  border-bottom: 2px solid #393939;
}
.productOurCommitmentChangemainDiv {
  width: 100%;
  height: 80px;
  border: 1px solid lightgray;
  background-color: #e8f4ff !important;
  border-radius: 10px;
  /* margin-top: -2%; */
  /* margin: auto; */
}
.productOurCommitmentbuttonouterDiv {
  display: flex;
  flex-direction: row;
}
.productOurCommitmentbuttonDiv {
  /* border: 2px solid blue; */
  width: 12%;
  /* height: 35px; */
  margin: auto;
  margin-top: 1%;
}

.productOurCommitmentChangeableDataBannerdropcontainer {
  /* border: 1px solid red; */
  width: 30%;
  /* margin-left: 40%; */
  border: none;
  height: 50px;
}

.productOurCommitmentChangeableDataBannerdropcontainer select {
  font-size: 15px;
  height: 50px;
  border: 2px solid #dddddd78;
  background-color: #e8f4ff;
}

.productOurCommitmentChangeableDataBannerdropcontainer select::placeholder {
  padding-top: 4px;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 {
  margin-left: 3%;
  width: 30%;
  height: 50px;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 p {
  height: 10px;
  color: #818090;
}

.productOurCommitmentChangeableDataBannerdropcontainer1 select {
  font-size: 15px;
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #dddddd78;
  background-color: #e8f4ff;
}
.productOurCommitmentChangeableButton {
  /* border: 2px solid red; */
  width: 60%;
  height: 60px;
  display: flex;
  flex-direction: row;
  /* margin-left: 41%; */
  margin-top: 2%;
}
.visaTypeMainDiv {
  /* border: 2px solid salmon; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.productOurCommitmentTypedetailsDiv {
  /* border: 2px solid red; */
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.productOurCommitmentTypeDetailContainer {
  border: 1px solid lightgray;
  width: 95%;
  height: 160px;
  /* margin: auto; */
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
}
.productOurCommitmentInformationDiv {
  /* border: 2px solid saddlebrown; */
  width: 70%;
  padding-left: 15px;
}
.productOurCommitmentRate {
  color: gray;
  font-size: 15px;
  margin-top: 1%;
}
.productOurCommitmentTypeofVisa {
  font-weight: 700;
  color: #393939;
  font-size: 18px;
  margin-top: -3%;
}
.productOurCommitmentDescription {
  color: grey;
  margin-top: -3%;
  text-align: justify;
  font-size: 12px;
}
.productOurCommitmentPrice {
  color: #393939;
  font-size: 14px;
  margin-top: -1%;
}
.visaPrice {
  color: #3380f2;
  font-weight: 700;
  font-size: 25px;
  margin-top: -3%;
}
.productOurCommitmentAddtoCartDiv {
  /* border: 2px solid black; */
  width: 30%;
}
.productOurCommitmentCartcounter {
  border: 2px solid lightgray;
  width: 60%;
  height: 40px;
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  justify-content: space-between;
}

.productOurCommitmentaddbutton {
  /* margin-right: 9%; */
  width: 19%;
  height: 25px;
  color: #3380f2;
  /* background-color: #3380F2; */
  /* border: 2px solid #3380F2; */
  border-radius: 35px;
  font-size: 25px;
  font-weight: 700;
  margin-left: 9%;
  text-align: center;
  /* margin-top: 4%; */
  cursor: pointer;
  /* padding-top: 2px; */
}
.productOurCommitmentsubtractbutton {
  margin-right: 9%;
  width: 19%;
  height: 25px;
  color: #3380f2;
  /* background-color: #3380F2; */
  /* border: 2px solid #3380F2; */
  border-radius: 22px;
  font-size: 25px;
  font-weight: 700;
  /* margin-left: -9%; */
  text-align: center;
  /* margin-top: 3%; */
  cursor: pointer;
}
.productOurCommitmentcountertext {
  font-size: 25px;
  font-weight: 700;
  color: #3380f2;
  /* margin-left: 15%; */
}
.productOurCommitmentAddtocartButton {
  background-color: #3380f2;
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 60%;
  height: 40px;
  margin-top: 10%;
  padding: 8px 18px;
  margin-left: 20%;
}
.productOurCommitmentAddtocartButton :hover {
  background-color: white;
  color: #3380f2;
  border: 2px solid #3380f2;
  cursor: pointer;
}

.productOurCommitmentTypecontactDiv {
  /* border: 2px solid gold; */
  width: 35%;
  margin-top: -4.5%;
}

.productOurCommitmentDocumentMainDiv {
  /* border: 2px solid black; */
  height: auto;
  width: 80%;
}
.productOurCommitmentDocumentHeading {
  font-weight: 700;
  font-size: 25px;
  margin-top: 1%;
  /* margin-left: 4%; */
  color: #393939;
}
.productOurCommitmentDocumentContainer {
  width: 90%;
  margin-top: 3%;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #393939;
}
.productOurCommitmentDoumentsLists {
  list-style-type: disc;
  margin-top: 3%;
  margin-left: 3%;
}
.productOurCommitmentprocessMainDiv {
  /* border: 2px solid red; */
  width: 80%;
}
.productOurCommitmentProcessheading {
  color: #393939;
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
  /* border: 2px solid red; */
}
.productOurCommitmentProcesscontainerDiv {
  /* border: 2px solid black; */
  width: 90%;
  height: 150px;
  margin: auto;
  margin-top: 7%;
  object-fit: cover;
  background-size: cover;
}
.productOurCommitmentProcessImage {
  width: 100%;
  height: 100%;
}
.visainnerSample {
  /* border: 2px solid green; */
  width: 80%;
  height: 550px;
  /* margin: auto; */
}
.visainnerImageDiv {
  border: 2px solid lightgray;
  width: 45%;
  height: 100%;
  margin: auto;
}
.visainnerImageDiv img {
  width: 100%;
  height: 100%;
}
.visaInnerEmbasy {
  width: 80%;
  /* border: 2px solid red; */
}
.visaInnerEmbasyLinks {
  width: 70%;
  height: 100px;
  /* border: 2px solid gold; */
  margin-top: 2%;
}
.visaInnerEmbasyHeadings {
  color: #393939;
  font-weight: 700;
  font-size: 20px;
}
.VisaEmbasyLinks {
  font-size: 15px;
  color: #818090;
  list-style-type: square;
  /* font-weight: 700; */
}
