.Talethiring-maindiv{
    /* border: 2px solid orange; */
    background-color:#393939 ;
    height: 80vh;
}
.Talethiring-maindivheading{
    color: white;
    text-align: center;
    margin-top: 5%;
    padding-top: 3%;
}
.Talethiring-maindivheading h1{
 font-size: 40px;
}

.Talethiring-maindiv-carddiv{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    /* margin-left: 20%; */
    justify-content: center;

}
.Talethiring-maindiv-innercarddiv{
    /* border: 2px solid red; */
    background-color: white;
    color: black;
    width: 22%;
    height: 50vh;
    padding-top: 1%;
    padding-left: 1%;
    margin-left: 2%;
    

}

.Talethiring-maindiv-innercarddiv h4{
    margin-top: 10%;

}
.Talethiring-maindiv-innercarddiv p{
    margin-top: 5%;
    font-size: 14px;

}

.Talethiring-maindiv-innercarddivimage{
    /* border: 2px solid green ; */
    width: 60px;
    height: 60px;

}
.Talethiring-maindiv-innercarddivimage img{
    width: 100%;
    height: 100%;
}
.Talethiring-maindiv-innercarddivbutton{
    border: 1px solid orangered;
    background-color: white;
    width: 120px ;
    height: 40px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 19px;
    margin-left: 40%;
    margin-top: 2%;

}
.Talethiring-maindiv-innercarddivbutton:hover{
    background-color: orangered;
    /* color:; */
  
}





.Talethiring-maindiv2{
    /* border: 2px solid white; */
    background-color:#ef4c23 ;
    height: 48vh;
    color: white;
    padding-top: 4%;
    padding-left: 4%;
}

.Talethiring-maindiv2 h1{
    font-size: 40px ;

}

.Talethiring-maindiv2 p{
    font-size: 20px ;
    font-weight: 350;

}



.Talethiring-maindiv-innercarddivbutton2{
    border: 1px solid white;
    background-color: #ef4c23;
    width: 140px ;
    height: 40px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 19px;
    /* margin-left: 40%; */
    margin-top: 2%;
    color: white;

}
.Talethiring-maindiv-innercarddivbutton2:hover{
    background-color: white;
    color: black;
   

}
.Talethiring-maindiv2 p{
    margin: 0%;
}