.CloudWorkWithUs-container {
  width: 90%;
  margin: 2% auto;
}

.CloudWorkWithUs-container > h1 {
  font-size: 32px;
  width: 100%;
  margin: 1% auto;
}

.CloudWorkWithUs-container > h1 > span {
  color: #ef4c23;
}

.CloudWorkWithUs-container > p {
  font-size: 18px;
  width: 100%;
  margin: 1% auto;
}

.CloudWorkIcons-container {
  width: 80%;
  margin: 2% auto;
  padding: 2%;
  border-radius: 25px;
  background: #ffd8cf;
  text-align: center;
}

.CloudWorkIcons-main {
  width: 95%;
  height: fit-content;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CloudWorkIcons-main > div {
  height: 100%;
  width: 20%;
}

.CloudWorkIcons-main > div > img {
  width: 100%;
}

.CloudWorkIcons-main > span {
  height: 100px;
  width: 2px;
  color: white;
  background-color: white;
}

.CloudWorkWithUs-hr-line {
  width: 30%;
  margin: 1% 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CloudWorkWithUs-hr-line > div {
  border: 2px solid #ef4c23;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.CloudWorkWithUs-hr-line > span {
  width: 45%;
  height: 2px;
  background-color: #ef4c23;
  color: #ef4c23;
}
