/* .dropdownSection {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
}

.serviceDropdownContent {
  height: 100%;
  width: 20%;
}

#serviceDropContent {
  width: 40%;
}
.serviceDropdownContent > h4 {
  color: #ef4c23;
}

.trendListItems {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.servicesP {
  text-decoration: none;
}
.servicesP > p {
  margin: 0;
  padding: 5px 5px;
  text-decoration: none;
  color: black;
}
.servicesP > p:hover {
  text-decoration: none;
  color: #ef4c23;
} */
