.Spacialized-maindiv{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    
    width: 90%;
    margin: auto;
    margin-top: 6%;
    
}

.Spacialized-maindivimage{
    /* border: 2px solid red; */
    width: 40%;
    height: 500px;
    
}
.Spacialized-maindivimage img{
    height: 100%;
    width: 100%;
}
.Spacialized-maindivcontain{
    /* border: 2px solid green; */
    width: 60%;
    margin-left: 5%;
    margin-top: 1%;
    /* margin: auto; */
}
.Spacialized-maindivcontain ul li{
    margin-top: 2%;
    font-size: 18px;

}
.Spacialized-maindivcontain p{
    margin-top: 2%;
    font-size: 18px;
}