.ApplicationProcess-divmain{
    display: flex;
    flex-direction: row;
    /* border: 2px solid yellow; */
    margin-left: 9%;
    margin-top: 4%;

}
.ApplicationProcess-heading{
    /* border: 2px solid blue; */
    text-align: center;
    margin-top: 4%;
    /* text-decoration: underline orangered; */
}

.ApplicationProcess-heading h1{
    font-size: 40px;
    /* border: 2px solid yellow; */
}
.ApplicationProcess-divmaininner{
    /* border: 2px solid red; */
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-left: 2%;
    padding-left: 1%;
    padding-top: 1%;
    

}
.ApplicationProcess-divmaininnerimage{
    /* border: 2px solid blue ; */
    justify-content: right;

    width: 40px;
    height: 60px;
    text-align: center;
    margin-left: 75%;
}
.ApplicationProcess-divmaininnerimage img{
    width: 100%;
    height: 100%;
  

}
.ApplicationProcess-divmaininner h4{
    margin-top: 12%;
    font-size: 24px;


}
