.RealEstateProduct-maindiv{
    /* border: 2px solid yellow; */
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 38vh;

}
.RealEstateProduct-maindivheading{
    /* border: 2px solid green; */
     /* justify-content: center; */
    text-align: center;
    margin-top: 2%;
}
.RealEstateProduct-maindivpragraf{
    /* border: 2px solid blue; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 1%;
}
.RealEstateProduct-maindivpragraf p{
    margin: 0%;
}
.RealEstateProduct-maindivbutton{
    /* border: 2px solid pink; */
    background-color: #3380f2;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    justify-content: center;
    border: none;
    color: white;
    font-size: 20px;

}
.RealEstateProduct-maindivbuttonbox{
    /* border: 2px solid green; */
     justify-content: center;
     margin-left: 40%;
     margin-top: 2.5%;

}
.RealEstateProduct-maindivbutton:hover{
    background-color: white;
    color: #3380f2;
}

