._Iphonedevelopmentmaindiv>div{
    margin: auto;
    /* border:1px solid red; */
    width:65%;
    box-sizing: border-box;
    padding-left:15px ;
    padding-top: 12px;
    height:375px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fcf2d4;
}
._Iphonedevelopmentdiv{
/* border:1px solid firebrick; */
margin: auto;
margin-top: 50px;
background-color: rgb(245 244 244 / 69%);
/* height:520px; */
width:96%;
border-radius: 10px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
padding: 15px;
position: relative;
}

._Iphonedevelopmentdiv>h1{
    color: #EF4C23;
    padding-left: 10px;
}
._Iphonedevelopmentdiv>p{
    color: gray;
    padding-left: 10px;
}
._Iphonedevelopmentmaindiv>div>h5{
    /* border:1px solid red; */
  margin-bottom: 23px;
  height:23px;
    width:65%;
    /* color: #EF4C23; */
    transition: ease-in-out 0.2s;
    color: gray;
}
._Iphonedevelopmentmaindiv>div>h5:hover{
    width:90%;
    font-size: 22px;
    transition: ease-in-out 0.2s;
    color: #EF4C23;
    cursor: pointer;
    padding-left: 10px;
}
.iphonedevelopmenticons{
font-size: 15px;
margin-bottom: 4px;
transition: ease-in-out 0.2s;
}
._Iphonedevelopmentmaindiv>div>h5:hover .iphonedevelopmenticons{
    font-size: 20px;
    margin-bottom: 5px;
    color: #EF4C23;
  }
  ._Iphonedevelopmentsecond{
    overflow: hidden;
    position: absolute;
    width:530px;
    /* border:1px solid green; */
    top:168px;
    right:170px;
    height:310px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  ._Iphonedevelopmentsecond>img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }
  ._Iphonedevelopmentsecond>img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
