.meatdeliveryadminpannelmainboxes{
    height: fit-content;
margin-top: 50px;
    display: flex;
}

.meatdeliveryadminleftbox{
    height: 500px;
    width: 55%;

    margin-left: 3%;
}

.meatdeliveryadminuppertextbox{
    height: fit-content;

    text-align: center;
}

.meateliverymappingboxforadminpannel{
    height: 80%;

    display: flex;
    flex-wrap: wrap;
}

.meatdeliveryadminboxindivisually{
    height: 45%;
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    padding: 15px;
}

.meatdeliveryadminboxindivisually:hover{
    transform: scale(1.02);
}

.meatdeliveryadminrightboxes{
    height: fit-content;
    width: 45%;

  margin: 0% 0% 0% 2%;


}

.meatdeliveryadminrightboxes >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}