.socialmediaadminmainboxing {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.socialmedialeftboxafterflexing {
  width: 55%;
}

.socialmediainsiderflexboxadminpannel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.socialmediaadminmaperbox {
  height: fit-content;
  width: 42%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 2%;
}

.socialmediaadminmaperbox:hover {
  transform: scale(1.02);
}

.socialmeditxtmapperbox {
  width: 80%;
}

.afterflexingsocialmediarightbox {
  width: 40%;
  height: fit-content;
}

.afterflexingsocialmediarightbox > img {
  width: 100%;
}
