.socialmediaadminmainboxing {
  width: 90%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.socialmedialeftboxafterflexing {
  width: 55%;

}

.socialmediainsiderflexboxadminpannel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;


}

.socialmediaadminmaperbox {
  height: fit-content;
  width: 42%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  margin: 2% 1% 1% 1%;
text-align: justify;
  padding: 2%;
  border-radius: 10px;

}

.socialmediaadminmaperbox:hover {
  transform: scale(1.02);
  background-color: #F8F9FE;
}

.socialmeditxtmapperbox {
  width: 80%;
}

.afterflexingsocialmediarightbox {
  width: 40%;
  margin-top: 8%;
  height: fit-content;
}

.afterflexingsocialmediarightbox > img {
  width: 100%;
}
