.onlinepaymentadminpannelmainbox{
    height: fit-content;
  
    display: flex;
}
.onlinepaymentadminpannelleftbox{
    width: 40%;
    height: 60%;
  
    margin: 0% 0% 0% 10%;
    position: relative;
}

.onlinepaymentadminpanneltxtbox{
    height: fit-content;
  
  
}

.onlinepaymentadminmappingdata{
    height: 80%;
    width: 100%;

 margin-top: 10%;
}

.onlinepaymentadminpannelaftermapping{
    height: fit-content;
    display: flex;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
}

.onlinepaymentadminpannelaftermapping:hover{
    transform: scale(1.02);
}

.onlinepaymentadminpannelmappertxtallign{
    margin-left: 2%;
    margin-top: 2%;
 
}





.onlinepaymentadminpannelaftermapping >svg{
    color: #CDFCF6;
    margin-top: 2%;

}

.onlinepaymentadminpannelrightbox{
    height: 400px;
    width: 50%;

    background: url("/public/Images/onlinepaymentpage/Vector.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.onlinepaymentadminpannelrightboxchangerimages{
    height: 80%;
    width: 100%;

   margin-top: 5%;
}

.onlinepaymentadminpannelrightboxchangerimages >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}