.onlinepaymentwhychoosemainbox{
    height: fit-content;
    display: flex;
    margin-top: 3%;
}

.onlinepaymentwhychooseleftbox{
    height: fit-content;
    width: 50%;
  
    margin-top: 5%;
    margin-left: 3%;
}

.onlinepaymentwhychooserightbox{
    height: fit-content;
    width: 50%;
    
    display: flex;
    flex-wrap: wrap;
}

.onlinepaymentwhychoosemappingdata{
    width: 45%;
    height: 150px;
    margin: 2%;
    display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
}

.onlinepaymentwhychoosemappingdata:hover{
    transform: scale(1.02);
}


.onlinepaymentwhychooseusmappingdatalogo{
    height: 50%;
    width: 40%;
 
}

.onlinepaymentwhychooseusmappingdatalogo>img{
height: 100%;
width: 100%;
object-fit: contain;
padding: 5px;
}

.onlinepaymentwhychoosemappingdatatxt{
    margin-left: 1%;
    text-align: justify;
}