._Seoguestexpertsmaindiv{
    /* border:1px solid green; */
    width:100%;
    margin-top: 40px;
}
._Seoguestexpertsmaindiv>h1{
    width:70%;
    margin: auto;
    color:#EF4C23;
}
._Seoguestinfodiv{
    width: 70%;
    margin: auto;
    background-color: white;
    /* box-shadow: 3px 3px 40px rgb(0 0 0 / 15%); */
    border-radius: 10px;
}
._Seoguestinfodiv1{
width:80%;
 font-size: 20px;
 margin-top: 35px;
 color:#00800075;
 font-weight: 700;
 box-sizing: border-box;
 /* box-shadow: 3px 3px 40px rgb(0 0 0 / 15%); */
 padding: 4px;
 /* border-radius: 10px; */
 color: #EF4C23;
}
._Seoguestinfodiv2{
    width:100%;
    height: 80px;
    /* border:1px solid brown; */
    /* margin: auto; */
    margin-top: 5px;
    display: block;
    color:gray;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 1px 1px 5px #EF4C23;
}

