._SeoguestTrusted{
    margin-top: 70px;
    display: flex;
    /* gap:4px; */
}
._SeoguestTrustedCarousel{
    /* border:2px solid forestgreen; */
    width:68%;
    text-align: center;
    margin: auto;
}
/* ._SeoTrustedCarousel:hover{
    background-color: #F5831F;
} */
._SeoguestTrustedtext{
    /* border: 1px solid navy; */
    width:30%;
    color: white;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    font-weight: 600;
    background-color: #EF4C23;
}
._Seoguestbrandimg{
    /* border: 1px solid black; */
    height:100px;
    width:50px;
}
._Seoguestbrandimg>img{
    width: 100%;
    height:100%;
}