.cpqautomatemainboxes{
    height: fit-content;

}

.cpqautomatemainboxes >h1{
    text-align: center;
  
}

.automatecpqinnerandouterimagesbox{
    height: 500px;
    width: 60%;

    margin-left: 20%;
    margin-top: 5%;
    background: url("/public/Images/CPQ/Ellipse 52.png");

}


.automatecpqinnerandouterimagesbox >img {
    height: 80%;
    width: 80%;
    object-fit: contain;
margin-left: 10%;
margin-top: 5%;
}

.cpqautomatedatamapperbox{
    height: fit-content;
    width: 90%;
    margin: auto;

    display: flex;

}

.cpqgeneratedatamapperboxindivisuallyimagesandtxt{
    width: 45%;
    margin: 3%;
    text-align: center;
    height: fit-content;
  
}



.cpqgeneratedatamapperboxindivisuallyimagesandtxt >h3{
   border-bottom: 1px solid #ef4c23;
   padding: 10px;
}

.cpqgeneratedatamapperboxindivisuallyimagesandtxt>h3:hover{
    border-bottom: 2px solid #ef4c23;
}

.cpqgeneratedatamapperboxindivisuallyimagesandtxt >p{
    text-align: justify;
    margin-top: 10%;
}
