._Flutterservices{
    /* border:1px solid green; */
    width:88%;
    display: flex; 
    margin: auto; 
    margin-top: 50px;
    background-color: #ffffff;
    gap:2%;
}
._Flutterservices1{
    width:48%;
    /* border: 1px solid green; */
}
._Flutterservices1>h5{
    width:80%;
    /* margin: auto; */
    color:#EF4C23;
    /* border: 1px solid green; */
    padding-top: 10px;
    cursor: pointer;
}
._Flutterservices1>h2{
    color:gray;
}
._Flutterservices1>h1{
width:80%;
/* margin: auto; */
margin-top: 80px;
/* border: 1px solid firebrick; */

}
._Flutterservices1>p{
    width:80%;
    /* margin: auto; */
    padding-top: 10px;
    /* border:1px solid green; */
    font-size: 18px;
}
._Flutterservices2{
    /* border:1px solid rebeccapurple; */
    width:50%;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
._Flutterservices2::-webkit-scrollbar{
    background: wheat;
    border-radius: 10px;
    width: 10px;
}
._Flutterservices2::-webkit-scrollbar-thumb{
    background: #f76c49;
    border-radius: 10px;
}
._Flutterservices2>p{
    /* border:1px solid black; */
    width:89%;
    margin: auto;
    font-size: 17px;
    padding-bottom: 10px;
    line-height: 1.7;   
}
.fcideaicon{
    margin-bottom: 10px;
    font-size: 27px;
}