._Flutterwhy{
    /* border:1px solid red; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 88%;
}
._Flutterwhy1{
    /* border:1px solid green; */
    color: black;
 
}
._Flutterflex{
    /* border:1px solid firebrick; */
    width:80%;
    margin: auto;
}
._Flutterpoints{
    display: flex;
    flex-wrap: wrap;
}
._Flutterpoints>h5{
   margin-top: 20px;
   width: 50%;
}
._Flutterwhyimg{
    width:22%;
    margin: auto;
}
._Flutterwhyimg>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}