.UIDesignWhyBF-container {
  width: 90%;
  margin: 2% auto;
  text-align: center;
}

.UIDesignWhyBF-container > h1 {
  font-size: 32px;
}

.UIDesignWhyBF-container > h1 > span,
.UIDesignWhyBF-main > ul > li > span {
  color: #ef4c23;
}

.UIDesignWhyBF-container > p {
  width: 80%;
  margin: 2% auto;
}

.UIDesignWhyBF-main {
  width: 90%;
  margin: 2% auto;

  display: flex;
  justify-content: space-between;
}

.UIDesignWhyBF-main > ul {
  width: 45%;
  text-align: left;
  font-size: 18px;
}

.UIDesignWhyBF-main > ul > li {
  margin-bottom: 2%;
}

.UIDesignWhyBF-images {
  position: relative;
  width: 45%;

  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UIDesignWhyBF-images > img {
  height: 45%;
  position: absolute;
}

.UIDesignWhyBF-images > img:nth-child(1) {
  z-index: 0;
  top: 0;
  left: 0;
}

.UIDesignWhyBF-images > img:nth-child(2) {
  z-index: 1;
  right: 0;
}

.UIDesignWhyBF-images > img:nth-child(3) {
  z-index: 0;
  bottom: 0;
  left: 0;
}
