.taxibookingadminpannelmainboxes{
    height: fit-content;
   
    display: flex;
margin-top: 3%;
}

.taxibookingappadminpannelleftbox{
    height: 480px;
    width: 40%;
margin-top: 3%;
   
    background: url("/public/Images/Taxibooking/Bannersbackgrounds/Rectangle 4864.png");
    background-repeat: no-repeat;
}

.taxibookingadminpannelleftboximagesize{
    height: fit-content;
    width: 95%;
   margin-top: 4%;

  
}

.taxibookingadminpannelleftboximagesize >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.taxibookingappadminpannelrightbox{
    height: fit-content;
    width: 58%;

    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}

.adminpannelbookingtaxi{
    border: 1px solid green;
}



.taxibookingappadminpannelindivi{
    height: fit-content;
    width: 47%;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}

.taxibookingappadminpannelindivi:hover{
    transform: scale(1.02);
}

.adminpanneltaxibookingonlutxt{
    height: fit-content;
    width: 100%;

    margin-top: 5%;
    text-align-last: center;
}

