.applytalentlowerbannermainbox{
    height: 50vh;
    border: 1px solid;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: #ef4c23;
    display: flex;
}

.applytalentlowerbannerleftboxfortext{
    width: 55%;

    margin-top: 3%;
    margin-left: 3%;
    color: white;
   text-align: justify;
}

.applytalentlowerbannerleftboxfortext >h1{
    border-bottom: 1px solid white;
    width: 45%;
}

.applytalentlowerbannerbutton{
    padding: 10px 50px;
    border-radius: 100px;
    width: 250px;
  
    background-color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ef4c23;

  margin-top: 5%;
}

.applytalentlowerbannerbutton:hover {

    background-color:#ef4c23;
    color:  white;

}

.applytalentlowerbannerrightboxforimage{
    width: 40%;

    margin-left: 2%;
}

.applytalentlowerbannerrightboxforimage >img{
height: 100%;
width: 100%;
object-fit: cover;
}