.AccessData-maindiv{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 6%;


}
.AccessData-innerdiv1{
    /* border: 2px solid red; */
    width: 70%;
    margin-right: 2%;

    
}
.AccessData-innerdiv2{
    width: fit-content;
    border: 1px solid lightgray;
    /* height: 550px; */
    margin-top: 1%;
    

}
.AccessData-innerdiv1 h1{
    margin-bottom: 5%;
}
.AccessData-innerdiv1 ul li{
    margin-top: 20px;
}
.AccessData-innerdiv2 img{
    width: 70%;
    /* height: 90%; */
}

