.logiccustomer{
  width: 100%;
  height: 920px;
  /* background-color: aqua; */
}
.logiccustomer>h1{
 margin-left: 4%;
}
.logiccustomersub{
    width: 100%;
    justify-content: space-between;
    margin:auto;
    display: flex;
    align-items: center;
}
.logiccustomerleft{
    width: 50%;
    height: 500px;
    padding: 10px;
    display: flex;
    /* background: url("/public/Images/logistic/rectanglebase.png"); */
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
.logiccustomerright {
    width: 45%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
  }
  
  .logiccustomerright > div {
    padding: 10px 10px 10px 10px;
    height: 250px;
    width: 45%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color:  white;
    cursor: pointer;
  }
  
.logiccustomerright> div:hover {
    background-color: #e1f9f6;
  }
  .logiccustomerright> div > h3 {
    font-size: 18px;
  }
  
 
  .logistic-customer-image{
    width: 50%;
    height: 500px;
    text-align: right;
    margin-left: 20%;
  }
  
  .logistic-customer-image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }