.sznewspaper {
    width: 100%;
    border-color: aqua;
    height: 350px;
}

.sznewspapersub {
    width: 100%;
    /* margin: auto; */
    display: flex;
    height: 200px;
    padding: 20px;
    /* background-color: rgb(103, 35, 35); */
    background: url("/public/Images/News/rectanglebg.png");
    background-repeat: no-repeat;
    background-size: 100% 450px;
    position: relative;
}

.sznewspaperdiv {
    width: 70%;
    padding: 30px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52%;
    font-size: 18px;
    left: 39%;
}

.sznewspaperhead {
    width: 60%;
    padding: 10px 80px;
    /* margin-left: 5%; */
}
 
 