.newsintromainboxes{
    height: 100vh;
    border: 0.01px solid white;

    background: url("/public/Images/News/Bannerbackground/Component 156.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.newsintroinsidersometext{
    height: fit-content;
    width: 50%;

    margin-top: 20%;
    margin-left: 3%;
    color: white;
    text-align: justify;
}