.newfeaturemainboxes{
    height: 60vh;
    margin-top: 1%;
  position: relative;
    background: url("/public/Images/News/Bannerbackground/Group 340282.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.newsfeaturelowerbannersometextandimageboxes{
    width: 95%;
    height: 70%;
    display: flex;

    margin-top: 8%;
    margin-left: 5%;
    position: absolute;
 
}

.newsfeaturelowerbannersometextboxes{
    height: fit-content;
    width:50%;
 color: white;
   position: relative;
text-align: justify;
    
}

.newsfeaturelowerbannersomeimageboxes{
    width: 30%;
    margin-top: -7%;

    margin-left: 5%;
}

.newsfeaturelowerbannersomeimageboxes >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}