._SeoLocalAgencymaindiv{
    /* font-size: 40px; */
    width:80%;
    margin: auto;
    margin-top: 30px;
    /* height:300px; */
    /* border:1px solid red; */
    background-color: white;
}
._SeoLocalAgencyheader{
    color:#EF4C23; 
}
._SeoLocalAgencyHeading{
    color:#EF4C23;
    width:80%;
    margin: auto;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
    margin-top: 40px;
}
