.ReviewRating-main {
  color: #393939;
  width: 80%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.RecentRating-content-main {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: fit-content;
}

.RecentRating-content-main > svg {
  padding: 10px;
  width: 50px;
  height: 50px;
}

.RecentRating-content-main > div {
  padding: 10px;
}

.RecentRating-content-main > div > h3 {
  font-size: 18px;
  margin: auto;
  margin-bottom: 2px;
}

.RecentRating-content-main > div > p {
  font-size: 16px;
  margin: auto;
  margin-top: 0px;
}

.RecentReview-overall-rating {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: fit-content;
  height: fit-content;

  border: 1px solid #353535;
  border-radius: 10px;
  padding: 10px;
}

.RecentReview-overall-rating > svg {
  border-right: none;
  position: absolute;
  color: rgb(223, 220, 220);
  z-index: 1px;
  width: 70px;
  height: 70px;
}

.RecentReview-overall-rating > div {
  z-index: 2;
  text-align: center;
}

.RecentReview-overall-rating > div>h3{
  font-size: 18px;
  margin: 0px;
}

.RecentReview-overall-rating > div>p{
  font-size: 15px;
  margin-top: 0px;
}
