
.flowerdeliveryadminmainbox{
    height: fit-content;
    display: flex;
    margin-top: 5%;
}
.flowerdeliveryadminflexleftbox{
    width: 45%;
     margin: 2%;
}

.flowerdeliveryadminflexleftbox>h2{
    margin-left: 3%;
}

.flowerdeliveryadmingboxmapping{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    width: 80%;
    padding: 3%;
    border-radius: 10px;
}

.flowerdeliveryadmingboxmapping:hover{
    transform: scale(1.02);
}



.flowerdeliveryadminflexrightbox{
    position: relative;
}

.flowerdeliveryadminrightboxforimageone{
    position: absolute;
    height: 70%;
    width: 700px;
 top: 15%;
   left: 210px;
}

.flowerdeliveryadminrightboxforimageone >img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.flowerdeliveryadminrightboxforimagetwo{
   position: absolute;
    height: fit-content;
    width: 700px;

    top: 150px;
    left: 50px;
}

.flowerdeliveryadminrightboxforimagetwo>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}