.flowerdeliveryservicemaindiv{
    height: 1030px;
    width: 100%;

    background-image: url("Images/Flowerdeliverypage/Rectangle1947.png");
 
    background-repeat: no-repeat;
    background-size: cover;

}

.flexboxserviceflower{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
 
}
.flexboxrealtimetopromote{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    width: 30%;
    height: 45%;
  margin-left: 35px;
    /* margin: 10px; */
    margin-top: 10px;
   background-color: white;
   border-radius: 10px;


}
.flexboxrealtimetopromoteimg{
    height: 200px;
    width: 280px;
    margin-left: 10%;
    margin-top: 10px;
    object-fit: contain;
}

.flowertxtflexbox{
    margin-left: 20px;
    text-align: left;
}

.uppertetxt{
    text-align: center;
   

}