.flowerdeliverypharmecyappdiv{
    height: 800px;
    width: 100%;

    
    margin-top: 100px;
}
.pharmecybutton{
    width: 130px;
    height: 35px;
    background-color: #3A8C93 ;
    color: white;
    margin-left: 48%;
}
.pharmecytextupper{
    margin-left: 45%;
}
.pharmecytextupper2{
    margin-left: 40%;
}
.pharmecydivflexandgrid{
    display: flex;
    height:700px;
  
    width: 100%;
    margin-top: 90px;
}

.pharmecydivflexandgridleft{
   
    height: 100%;
    width: 50%;
    
}

 .pharmecydivflexandgridright2{
   
    height: 100%;
    width: 50%;
} 

.pharmecydivflexandgridlefttxt{
    margin-left: 25%;
}

.pharmecydivflexandgridleftbox{
    height: 15%;
    width: 70%;
  
    margin-left: 10%;
    margin: 3%;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pharmecydivflexandgridright2backgroundimg{
    height: 80%;
    width: 100%;
    border: 1px solid white;
    margin-top: 80px;
    background-image: url("Images/Flowerdeliverypage/Rectangle1947.png");
 
    background-repeat: no-repeat;
    background-size: cover;
}

.pharmecydivflexandgridright2backgroundimg2{
    height: 350%;
    width: 110%;
  
     margin-top: -330px;
    background-image: url("Images/Flowerdeliverypage/Businesscontrol.png");
 
    background-repeat: no-repeat;
    background-size: contain;
  margin-top: 1%;
  margin-left: -130px;
}