.flowerdeliverypharmecyappdiv{
    height: 800px;
    width: 100%;
 
    margin-top: 50px;
}
.pharmecybutton{
    border-radius: 30px;
    width: 212px;
    height: 47px;
    background-color: #3A8C93 ;
    color: white;
    padding: 10px;
    border:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  

  
}
.pharmecytextupper{
    margin-left: 45%;
    
}
.pharmecytextupper2{
    margin-left: 35%;
}
.pharmecydivflexandgrid{
    display: flex;
    height:700px;
  
    width: 100%;
    margin-top: 90px;
}

.pharmecydivflexandgridleft{
   
    height: 100%;
    width: 50%;
    
}

 .pharmecydivflexandgridright{
   
    height: 100%;
    width: 50%;
} 

.pharmecydivflexandgridlefttxt{
    margin-left: 5%;

}

.pharmecydivflexandgridleftbox{
    height: 15%;
    width: 80%;
  padding: 10px;
    margin-left: 20%;
    margin: 5%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 2%;
}

.pharmecydivflexandgridrightbackgroundimg{
    height: 30%;
    width: 100%;
    border: 1px solid white;
    margin-top: 400px;
    background-image: url("Images/Flowerdeliverypage/Rectangle4191.png");
 
    background-repeat: no-repeat;
    background-size: cover;
}





.pharmecydivflexandgridrightbackgroundimg2{
    height: 600px;
    width: 350px;

    margin-top: -400px;
    margin-left: 45%;



}



.buttopn{
margin-left: -120px;

}

.pharmecyimagechanger{
   
 height: 100%;



}